<script>
	$(document).ready(function() {
		$('#dtable').dataTable({
			"aaSorting": [ [1,'desc'] ],
			"aoColumnDefs": [
				{ "bSearchable": false, "aTargets": [ 4 ] }
			],
			"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"bRetrieve": true,
			"oLanguage": {
				"sLengthMenu": "_MENU_ records per page"
			}
		});

	} );
</script>

<%- downloads_model_class = Download -%>
<table class="table table-striped table-bordered table-hover" id='dtable'>
  <thead>
  <tr>
    <th><%= downloads_model_class.human_attribute_name(:tag) %></th>
    <th><%= downloads_model_class.human_attribute_name(:tagged_at) %></th>
    <th><%= downloads_model_class.human_attribute_name(:retrieved_at) %></th>
	  <th><%= downloads_model_class.human_attribute_name(:sha).upcase %></th>
	  <th>Download</th>
  </tr>
  </thead>
  <tbody>
  <% @repo.downloads.each do |download| %>
    <tr>
      <td><%=	download.tag %></td>
      <td><%=	download.tagged_at %></td>
      <td><%=	download.retrieved_at || 'N/A'%></td>
	    <td><%=	 download.sha.to_s.truncate(10, :omission => '') || 'N/A' %></td>
      <td>nil</td>
    </tr>
  <%	end %>
  </tbody>
</table>