<script>
	$(document).ready(function() {
		$('#dtable').dataTable({
			"aaSorting": [ [1,'desc'] ],
			"aoColumnDefs": [
				{ "bSearchable": false, "aTargets": [ 4 ] }
			],
			"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"bRetrieve": true,
			"oLanguage": {
				"sLengthMenu": "_MENU_ records per page"
			}
		});

	} );
</script>

<%- downloads_model_class = Download -%>
<table class="table table-striped table-bordered table-hover" id='dtable'>
  <thead>
  <tr>
    <th><%= downloads_model_class.human_attribute_name(:tag) %></th>
    <th><%= downloads_model_class.human_attribute_name(:tagged_at) %></th>
    <th><%= downloads_model_class.human_attribute_name(:retrieved_at) %></th>
	  <th><%= downloads_model_class.human_attribute_name(:sha).upcase %></th>
	  <th width='170px'>Download</th>
  </tr>
  </thead>
  <tbody>
  <% @repo.downloads.each do |download| %>
    <tr>
      <td><%=	download.tag %></td>
      <td><%=	download.tagged_at.try(:to_s, :long) 	 %></td>
      <td><%=	download.retrieved_at.try(:to_s, :long) 	 || 'N/A'%></td>
	    <td><%=	download.sha.to_s.truncate(10, :omission => '') || 'N/A' %></td>
      <td><div class="downloads">
	      <%	 if download.backup.blank? %>
	        <%= link_to "Download Not Present", '#', :class => 'btn btn-warning' %>
	      <% else %>
	        <%= link_to "Download Tarball", "#{download.backup}", :class => 'btn btn-success' %>
	      <% end %>
      </div></td>
    </tr>
  <%	end %>
  </tbody>
</table>