<%- model_class = Repo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:owner) %></th>
      <th><%= model_class.human_attribute_name(:last_tag) %></th>
      <th><%= model_class.human_attribute_name(:git_repo_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @repos.each do |repo| %>
      <tr>
        <td><%= link_to repo.name, repo_path(repo) %></td>
        <td><%= repo.owner %></td>
        <td><%= repo.downloads.last.try(:tag) || 'N/A'%></td>
        <td><%= repo.git_repo_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_repo_path(repo), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', repo, :confirm => 'Are you sure?',
                      :class => 'btn btn-mini btn-danger',
                      :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>