<%- model_class = Repo -%>
<div class="repo-heading">
  <h1>Repo Details for <%= @repo.name %></h1>
</div>
<div class="repo-subheading">
  <ul>
    <li><b><%= model_class.human_attribute_name(:owner) %>: </b><%= @repo.owner %></li>
    <li><b><%= model_class.human_attribute_name(:last_tag) %>: </b><%= @repo.downloads.last.try(:tag) || 'N/A' %></li>
    <li class="last"><b>Git repo ID: </b><%= @repo.git_repo_id %></li>
  </ul>
</div>


<%	 if @repo.downloads.blank? %>
	<p><b>There are currently no downloads to show for this Repository</b></p>
<% else %>
  <%= render :partial => 'downloads' %>
<% end %>