<%= simple_form_for @download, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tag %>
  <%= f.input :tagged_at %>
  <%= f.input :retrieved_at %>
  <%= f.association :repo %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                repo_downloads_path, :class => 'btn' %>
  </div>
<% end %>